/* line 21, ../sass/_variables.scss */
h1, h2, h3, h4, h5, h6, li, p, html, body {
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'liga', 'dlig';
  -moz-font-feature-settings: 'liga', 'dlig';
  font-feature-settings: 'liga', 'dlig';
  text-rendering: optimizeLegibility;
}

/* line 29, ../sass/_variables.scss */
a, button, .fake_button, header, footer li, .home #work_grid li * {
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
}

/* line 33, ../sass/_variables.scss */
h1, h2, h3, h4, h5, h6, li, p, html, body {
  font-family: "museo-sans-rounded", sans-serif;
  font-weight: 500;
  color: #2d3244;
  line-height: 25px;
}

/* line 1, ../sass/_grid.scss */
.row {
  *zoom: 1;
  position: relative;
  margin: 0 25px 1.5rem;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.row:after {
  clear: both;
}
/* line 6, ../sass/_grid.scss */
.row.full_width {
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
/* line 12, ../sass/_grid.scss */
.row:last-child {
  margin-bottom: 0;
}

/* line 17, ../sass/_grid.scss */
.split {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 20, ../sass/_grid.scss */
.split > * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  width: 0;
  margin-right: 25px;
}
/* line 26, ../sass/_grid.scss */
.split > *:last-child {
  margin-right: 0;
}
/* line 31, ../sass/_grid.scss */
.split > .extra_width {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
/* line 35, ../sass/_grid.scss */
.split > .touching {
  margin-right: 0;
}

/* line 40, ../sass/_grid.scss */
.no_margin {
  margin-bottom: 0 !important;
}

/* line 44, ../sass/_grid.scss */
.quarter_margin {
  margin-bottom: .375rem !important;
}

/* line 48, ../sass/_grid.scss */
.half_margin {
  margin-bottom: .75rem !important;
}

/* line 52, ../sass/_grid.scss */
.extra_margin {
  margin-top: 2rem !important;
  margin-bottom: 1.75rem !important;
}

/* line 57, ../sass/_grid.scss */
.centered {
  margin: 0 auto;
}

/* line 6, ../sass/_type.scss */
h1, h2 {
  color: #2d3244;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1em;
}
/* line 12, ../sass/_type.scss */
h1.light, h2.light {
  color: #f0f0f0;
}

/* line 17, ../sass/_type.scss */
h1 {
  font-family: "din-condensed-web", sans-serif;
  text-transform: uppercase;
}

/* line 22, ../sass/_type.scss */
h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

/* line 27, ../sass/_type.scss */
h3, h4, h5, h6 {
  font-size: 1em;
}

/* line 31, ../sass/_type.scss */
ul {
  margin-top: 0;
  padding-left: 1em;
}

/* line 36, ../sass/_type.scss */
li, p {
  font-size: 1em;
  margin: 0 0 1.5em 0;
}
/* line 40, ../sass/_type.scss */
li:last-child, p:last-child {
  margin-bottom: 0;
}

/* line 45, ../sass/_type.scss */
li {
  margin-bottom: 0;
}

/* line 49, ../sass/_type.scss */
a {
  color: #08c882;
  text-decoration: none;
}
/* line 54, ../sass/_type.scss */
a:hover {
  text-decoration: underline;
}

/* line 59, ../sass/_type.scss */
.larger {
  font-size: 1.25em;
}

/* line 63, ../sass/_type.scss */
.smaller {
  font-size: .9em;
}

/* line 1, ../sass/_forms.scss */
button, .fake_button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 150px;
  height: 50px;
  display: block;
  background-color: #08c882;
  border: 2px solid transparent;
  font-size: 16px;
  line-height: 48px;
  color: #f0f0f0;
  text-align: center;
  cursor: pointer;
}
/* line 14, ../sass/_forms.scss */
button:hover, .fake_button:hover {
  background-color: #07af72;
  text-decoration: none;
}

/* line 1, ../sass/_core.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-size: 16px;
  line-height: 25px;
}

/* line 11, ../sass/_core.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/_core.scss */
.clear {
  *zoom: 1;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.clear:before, .clear:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.clear:after {
  clear: both;
}

/* line 19, ../sass/_core.scss */
header {
  *zoom: 1;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 999;
  background-image: -webkit-linear-gradient( rgba(67, 51, 45, 0.5) 0, transparent 100%);
  background-image: linear-gradient( rgba(67, 51, 45, 0.5) 0, transparent 100%);
  background-color: transparent;
  padding: 0 12.5px;
  line-height: 50px;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
header:before, header:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
header:after {
  clear: both;
}
/* line 29, ../sass/_core.scss */
header a {
  color: #f0f0f0;
}
/* line 32, ../sass/_core.scss */
header a:hover {
  color: #08c882 !important;
  text-decoration: none;
}
/* line 38, ../sass/_core.scss */
header span {
  color: rgba(240, 240, 240, 0.6);
}
/* line 42, ../sass/_core.scss */
header.active {
  background-image: none;
  background-color: #f0f0f0;
}
/* line 46, ../sass/_core.scss */
header.active a {
  color: #2d3244;
}
/* line 50, ../sass/_core.scss */
header.active span {
  color: #8a8a95;
}
/* line 55, ../sass/_core.scss */
header #name {
  float: left;
  width: 300px;
}

/* line 61, ../sass/_core.scss */
nav {
  float: right;
}
/* line 64, ../sass/_core.scss */
nav ul {
  *zoom: 1;
  height: 48px;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
nav ul:before, nav ul:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
nav ul:after {
  clear: both;
}
/* line 72, ../sass/_core.scss */
nav li {
  float: left;
  line-height: 42px;
  border-top: 4px solid transparent;
}
/* line 77, ../sass/_core.scss */
nav li:hover {
  border-top-color: #08c882;
}
/* line 82, ../sass/_core.scss */
nav a {
  display: block;
  padding: 0 12.5px;
}

/* line 88, ../sass/_core.scss */
#marquee {
  width: 100%;
  height: 350px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  font-size: 0;
}
/* line 95, ../sass/_core.scss */
#marquee:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 102, ../sass/_core.scss */
#marquee.fixed {
  position: fixed;
}
/* line 105, ../sass/_core.scss */
#marquee.fixed + #wrapper {
  position: absolute;
  top: 350px;
  z-index: 2;
}
/* line 110, ../sass/_core.scss */
#marquee .centered {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 116, ../sass/_core.scss */
#marquee h1 {
  margin-bottom: .25em;
}
/* line 120, ../sass/_core.scss */
#marquee .fake_button {
  display: inline-block;
  background-color: transparent;
  border-color: #f0f0f0;
  margin: 0 25px;
  text-shadow: 1px 1px 1px rgba(45, 50, 68, 0.5);
}
/* line 127, ../sass/_core.scss */
#marquee .fake_button:hover {
  background-color: #08c882;
  border-color: transparent;
  text-shadow: none;
}

/* line 135, ../sass/_core.scss */
#wrapper {
  background-color: #f0f0f0;
  width: 100%;
}

/* line 140, ../sass/_core.scss */
#content {
  position: relative;
  top: 0px;
  bottom: 100px;
  padding: 25px 0;
}

/* line 145, ../sass/_core.scss */
footer {
  width: 100%;
  height: 100px;
  background-color: #b2b2b9;
}
/* line 149, ../sass/_core.scss */
footer.fixed {
  position: fixed;
  bottom: 0px;
}
/* line 153, ../sass/_core.scss */
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
/* line 160, ../sass/_core.scss */
footer li {
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  height: 100%;
}
/* line 169, ../sass/_core.scss */
footer a {
  display: block;
  height: 100%;
}
/* line 174, ../sass/_core.scss */
footer span {
  display: none;
}
/* line 178, ../sass/_core.scss */
footer #git {
  background-image: url("../images/git.svg");
}
/* line 181, ../sass/_core.scss */
footer #git:hover {
  background-color: #60B044;
}
/* line 186, ../sass/_core.scss */
footer #dribbble {
  background-image: url("../images/dribbble.svg");
}
/* line 189, ../sass/_core.scss */
footer #dribbble:hover {
  background-color: #EA4C89;
}
/* line 194, ../sass/_core.scss */
footer #linkedin {
  background-image: url("../images/linkedin.svg");
}
/* line 197, ../sass/_core.scss */
footer #linkedin:hover {
  background-color: #069;
}

@media screen and (max-width: 568px) {
  /* line 204, ../sass/_core.scss */
  #name {
    width: auto !important;
  }
  /* line 207, ../sass/_core.scss */
  #name .smaller {
    display: none;
  }

  /* line 212, ../sass/_core.scss */
  nav {
    width: 50px;
    height: 50px;
  }
  /* line 215, ../sass/_core.scss */
  nav ul {
    position: absolute;
    top: 50px;
    right: 0px;
    left: 0px;
    z-index: 2;
    background-color: none;
    display: none;
    height: auto;
  }
  /* line 222, ../sass/_core.scss */
  nav li {
    background: rgba(45, 50, 68, 0.75);
    border-bottom: 2px solid #f0f0f0 !important;
    float: none;
    width: 100%;
  }
  /* line 228, ../sass/_core.scss */
  nav li:last-child {
    border-bottom: none;
  }
  /* line 234, ../sass/_core.scss */
  nav.open ul {
    display: block;
  }
}
/* line 3, ../sass/_home.scss */
.home header span {
  opacity: 0;
}
/* line 8, ../sass/_home.scss */
.home header.active span {
  opacity: 1;
}
/* line 14, ../sass/_home.scss */
.home #marquee {
  background-image: url("../images/wood_backdrop.jpg");
}
/* line 18, ../sass/_home.scss */
.home #work_grid {
  *zoom: 1;
  max-width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.home #work_grid:before, .home #work_grid:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.home #work_grid:after {
  clear: both;
}
/* line 25, ../sass/_home.scss */
.home #work_grid li {
  position: relative;
  float: left;
  width: 25%;
  background-color: #8a8a95;
  text-align: center;
}
/* line 36, ../sass/_home.scss */
.home #work_grid li a {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  opacity: 0;
  display: block;
  color: #fff;
  text-decoration: none !important;
}
/* line 44, ../sass/_home.scss */
.home #work_grid li a:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 52, ../sass/_home.scss */
.home #work_grid li div {
  font-family: "din-condensed-web", sans-serif;
  text-shadow: 0 0 25px #2d3244;
  font-size: 2em;
  line-height: 1em;
  padding: 0 12.5px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 63, ../sass/_home.scss */
.home #work_grid li span {
  position: absolute;
  top: 0px;
  z-index: -1;
  opacity: 0;
}
/* line 68, ../sass/_home.scss */
.home #work_grid li img, .home #work_grid li span {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 74, ../sass/_home.scss */
.home #work_grid li:hover a, .home #work_grid li:hover span {
  opacity: 1;
}
/* line 78, ../sass/_home.scss */
.home #work_grid li:hover img {
  -webkit-filter: blur(2px);
}
/* line 85, ../sass/_home.scss */
.home #flowers span {
  background-color: rgba(87, 44, 128, 0.75);
}
/* line 89, ../sass/_home.scss */
.home #bellmobi span {
  background-color: rgba(239, 70, 71, 0.75);
}
/* line 93, ../sass/_home.scss */
.home #giftify span {
  background-color: rgba(8, 200, 130, 0.75);
}
/* line 97, ../sass/_home.scss */
.home #fnm span {
  background-color: rgba(230, 33, 61, 0.75);
}
/* line 101, ../sass/_home.scss */
.home #famous span {
  background-color: rgba(185, 1, 1, 0.75);
}
/* line 105, ../sass/_home.scss */
.home #bahamar span {
  background-color: rgba(0, 155, 200, 0.75);
}
/* line 109, ../sass/_home.scss */
.home #florists span {
  background-color: rgba(3, 167, 132, 0.75);
}
/* line 113, ../sass/_home.scss */
.home #belterra span {
  background-color: rgba(161, 27, 28, 0.75);
}
/* line 117, ../sass/_home.scss */
.home #bilt span {
  background-color: rgba(243, 140, 45, 0.75);
}
/* line 121, ../sass/_home.scss */
.home #decklab span {
  background-color: rgba(50, 55, 64, 0.75);
}
/* line 125, ../sass/_home.scss */
.home #lauberge span {
  background-color: rgba(179, 101, 49, 0.75);
}
/* line 129, ../sass/_home.scss */
.home #lumiere span {
  background-color: rgba(5, 69, 111, 0.75);
}
/* line 133, ../sass/_home.scss */
.home #delmar span {
  background-color: rgba(204, 76, 38, 0.75);
}
@media screen and (min-width: 1200px) {
  /* line 138, ../sass/_home.scss */
  .home #work_grid li {
    width: 20%;
  }
}
@media screen and (max-device-width: 1024px) {
  /* line 144, ../sass/_home.scss */
  .home #work_grid li {
    width: 25%;
  }
  /* line 147, ../sass/_home.scss */
  .home #work_grid li a {
    opacity: 1;
  }
  /* line 151, ../sass/_home.scss */
  .home #work_grid li div {
    position: absolute;
    bottom: 12.5px;
    font-size: 1.25em;
    line-height: 1.25em;
    display: block;
    text-shadow: 0 1px 1px #2d3244;
  }
  /* line 159, ../sass/_home.scss */
  .home #work_grid li span {
    top: auto;
    bottom: 0;
    height: 50px;
    background-color: rgba(45, 50, 68, 0.5);
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  /* line 170, ../sass/_home.scss */
  .home #work_grid li {
    width: 33.3333%;
  }
}
@media screen and (max-width: 568px) {
  /* line 176, ../sass/_home.scss */
  .home #work_grid li {
    width: 50%;
  }
}
@media screen and (max-width: 360px) {
  /* line 182, ../sass/_home.scss */
  .home #work_grid li {
    width: 100%;
  }
}

/* line 2, ../sass/_work.scss */
.work #marquee {
  background-image: url("../images/wood_backdrop.jpg");
}
