html, body {
	@include size(100%);
	margin: 0;
	padding: 0;
	background-color: $light_color;
	font-size: $font_size;
	line-height: $line_height;
}

* {
	@include box-sizing(border-box);
}

header {
	@extend %animated;
	@include clearfix();
	@include size(100% $header_height);
	@include position(fixed, 0 0 0 0);
	@include background-image(linear-gradient(rgba(#43332d, .5) 0, transparent 100%));
	background-color: transparent;
	padding: 0 $line_height/2;
	line-height: $line_height*2;

	a {
		color: $light_color;

		&:hover {
			color: $accent_color !important;
			text-decoration: none;
		}
	}

	span {
		color: rgba($light_color, .6);
	}

	&.active {
		background-image: none;
		background-color: $light_color;

		a {
			color: $dark_color;
		}

		span {
			color: $ghosted_color;
		}
	}

	#name {
		float: left;
	}

	nav {
		float: right;
	}
}

#marquee {
	background-image: url("../images/wood_backdrop.jpg");
	background-size: cover;
	background-position: center center;
	height: $header_height*7;
	line-height: $header_height*7;
}