html, body {
	@extend %font;
	@include size(100%);
	margin: 0;
	padding: 0;
	background-color: $light_color;
	font-size: $font_size;
	line-height: $line_height;
}

* {
	@include box-sizing(border-box);
}

.clear {
	@include clearfix();
}

header {
	@extend %animated;
	@include clearfix();
	@include size(100% $header_height);
	@include position(fixed, 0 0 0 0, 999);
	@include background-image(linear-gradient(rgba(#43332d, .5) 0, transparent 100%));
	background-color: transparent;
	padding: 0 $line_height/2;
	line-height: $header_height;

	a {
		color: $light_color;

		&:hover {
			color: $accent_color !important;
			text-decoration: none;
		}
	}

	span {
		color: rgba($light_color, .6);
	}

	&.active {
		background-image: none;
		background-color: $light_color;

		a {
			color: $dark_color;
		}

		span {
			color: $ghosted_color;
		}
	}

	#name {
		float: left;
		width: 300px;
	}
}

nav {
	float: right;

	ul {
		@include clearfix();
		height: $header_height - $border_width;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		float: left;
		line-height: $header_height - $border_width*4;
		border-top: $border_width*2 solid transparent;

		&:hover {
			border-top-color: $accent_color;
		}
	}

	a {
		display: block;
		padding: 0 $line_height/2;
	}
}

#marquee {
	@include size(100% $header_height*7);
	text-align: center;
	background-size: cover;
	background-position: center center;
	font-size: 0;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle; 
	}

	&.fixed {
		position: fixed;

		+ #wrapper {
			@include position(absolute, $header_height*7 0 0 0, 2);
		}
	}

	.centered {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	h1 {
		margin-bottom: .25em;
	}

	.fake_button {
		display: inline-block;
		background-color: transparent;
		border-color: $light_color;
		margin: 0 $header_height/2;
		text-shadow: 1px 1px 1px rgba($dark_color, .5);

		&:hover {
			background-color: $accent_color;
			border-color: transparent;
			text-shadow: none;
		}
	}
}

#wrapper {
	background-color: $light_color;
	width: 100%;
}

#content {
	@include position(relative, 0px 0 $footer_height 0);
	padding: $line_height 0;
}

footer {
	@include size(100% $footer_height);
	background-color: lighten($ghosted_color, 15%)	;

	&.fixed {
		@include position(fixed, 0 0 0px 0);
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		height: 100%;
	}

	li {
		@extend %animated;
		background-size: $footer_height/2;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: transparent;
		height: 100%;
	}

	a {
		display: block;
		height: 100%;
	}

	span {
		display: none;
	}

	#git {
		background-image: url("../images/git.svg");

		&:hover {
			background-color: #60B044;
		}
	}

	#dribbble {
		background-image: url("../images/dribbble.svg");

		&:hover {
			background-color: #EA4C89;
		}
	}

	#linkedin {
		background-image: url("../images/linkedin.svg");

		&:hover {
			background-color: #069;
		}
	}
}

@media screen and (max-width: $mobile_l) {
	#name {
		width: auto !important;

		.smaller {
			display: none;
		}
	}

	nav {
		@include size($header_height $header_height);

		ul {
			@include position(absolute, $header_height 0px 0 0px, 2);
			background-color: none;
			display: none;
			height: auto;
		}

		li {
			background: rgba($dark_color, .75);
			border-bottom: 2px solid $light_color !important;
			float: none;
			width: 100%;

			&:last-child {
				border-bottom: none;
			}
		}

		&.open {
			ul {
				display: block;
			}
		}
	}
}