button {
	@extend %animated;
	@include appearance(none);
	display: block;
	background-color: $accent_color;
	border: 3px solid transparent;
	font-size: 1rem;
	height: $header_height;
	width: $header_height*3;
	color: $light_color;
	cursor: pointer;

	&:hover {
		background-color: darken($accent_color, 5%);
	}
}