button, .fake_button {
	@extend %animated;
	@include appearance(none);
	@include size($header_height*3 $header_height);
	display: block;
	background-color: $accent_color;
	border: $border_width solid transparent;
	font-size: $font_size;
	line-height: $header_height - $border_width; //compensate for border
	color: $light_color;
	text-align: center;
	cursor: pointer;

	&:hover {
		background-color: darken($accent_color, 5%);
		text-decoration: none;
	}
}

@media screen and (max-width: $mobile_p) {
	button, .fake_button {
		width: $header_height*2;
	}
}