.home {
	header{
		span {
			opacity: 0;
		}

		&.active {
			span {
				opacity: 1;
			}
		}
	}

	#work_grid {
		@include clearfix();
		max-width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			position: relative;
			float: left;
			width: 25%;
			background-color: $ghosted_color;

			* {
				@extend %animated;
				@include size(100% 100%);
			}

			a {
				@include position(absolute, 0 0 0px 0, 2);
				opacity: 0;
				display: block;
				color: #fff;
				text-decoration: none !important;
			}

			img {
				display: block;
			}

			&:hover {
				a {
					opacity: 1;
				}

				img {
					-webkit-filter: blur(2px);
				}
			}
		}
	}

	#bahamar a {
		background-color: rgba(blue, .5);
	}

	@media screen and (min-width: $large_screen) {
		#work_grid li {
			width: 20%;
		}
	}

	@media screen and (max-device-width: $tablet_l){
		#work_grid li {
			width: 25%;

			a {
				opacity: 1;
				height: 25px;
			}
		}
	}

	@media screen and (max-width: $tablet_p) {
		#work_grid li {
			width: 33.3333%;
		}
	}

	@media screen and (max-width: $mobile_l) {
		#work_grid li {
			width: 50%;
		}
	}

	@media screen and (max-width: $mobile_p) {
		#work_grid li {
			width: 100%;
		}
	}


}