.home {
	header{
		span {
			opacity: 0;
		}

		&.active {
			span {
				opacity: 1;
			}
		}
	}

	#work_grid {
		@include clearfix();
		max-width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			position: relative;
			float: left;
			width: 25%;
			background-color: $ghosted_color;

			* {
				@extend %animated;
				@include size(100% 100%);
			}

			a {
				@include position(absolute, 0px 0px 0px 0px, 2);
				display: block;
				color: #fff;
				text-decoration: none !important;
			}

			img {
				display: block;
			}

			&:hover {
				a {
					opacity: 1;
				}

				img {
					-webkit-filter: blur(2px);
				}
			}
		}
	}

	#bahamar a {
		opacity: 0;
		background-color: rgba(blue, .5);
	}

	/* #1- Large desktop */
	@media screen and (min-width: 1400px) {
		#work_grid li {
			width: 20%;
		}
	}

	/* #3- Regular sized laptops */
	@media screen and (min-width: 980px) and (max-width: 1199px) {
	
	}
	
	/* #3- Portrait tablet to landscape and desktop */
	@media screen and (min-width: 768px) and (max-width: 979px) {
	
	}
	
	/* #4- Landscape phone to portrait tablet */
	@media screen and (max-width: 767px) {
		#work_grid li {
			width: 33%;
		}
	}
	
	/* #5- Landscape phones and down */
	@media screen and (max-width: 480px) {
		#work_grid li {
			width: 50%;
		}
	}

}