h1, h2, h3, h4, h5, h6, li, p {
	@extend %smooth;
	@extend %font;
}

h1, h2 {
	color: $dark_color;
	font-size: $font_size*3;
	font-weight: 500;
}

h1 {
	font-family: "din-condensed-web",sans-serif;
	text-transform: uppercase;
}

h2 {
	font-size: $font_size*1.25;
	font-weight: 300;
}

h3, h4, h5, h6 {
	font-size: 1em;
}

ul {
	margin-top: 0;
	padding-left: 1em;
}

li, p {
	font-size: 1em;
	margin: 0 0 1.5em 0;

	&:last-child {
		margin-bottom: 0;
	}
}

li {
	margin-bottom: 0;
}

a {
	@extend %animated;
	color: $accent_color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.larger {
	font-size: 1.25em;
}

.smaller {
	font-size: .9em;
}