html, body {
	@include transition(all 0.75s $ease-out-quint);
	@extend %font;
	@include size(100%);
	margin: 0;
	padding: 0;
	background-color: $light_color;
	font-size: $font_size;
	line-height: $line_height;
}

* {
	@include box-sizing(border-box);
}

.clear {
	@include clearfix();
}

header {
	@extend %animated;
	@include clearfix();
	@include size(100% $header_height);
	@include position(fixed, 0 0 0 0, 999);
	@include background-image(linear-gradient(rgba(#43332d, .5) 0, transparent 100%));
	background-color: transparent;
	padding: 0 $line_height/2;
	line-height: $header_height;

	a {
		color: $light_color;

		&:hover {
			color: $accent_color !important;
		}
	}

	span {
		color: rgba($light_color, .6);
	}

	&.active {
		background-image: none;
		background-color: $light_color;

		a {
			color: $dark_color;
		}

		span {
			color: $ghosted_color;
		}
	}

	#name {
		float: left;
		width: 300px;
	}
}

nav {
	float: right;

	ul {
		@include clearfix();
		height: $header_height - $border_width;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		position: relative;
		float: left;
		line-height: $header_height;

		div {
			@include position(absolute, 0px 0 0 0, 2);
			@include size(100% $border_width*2);
			background-color: transparent;
		}

		&:hover {
			div {
				background-color: $accent_color;
			}
		}
	}

	a {
		display: block;
		padding: 0 $line_height/2;
	}
}

#marquee {
	@extend %animated;
	@include display(flex);
	@include align-items(center);
	@include size(100% $header_height*7);
	background-size: cover;
	background-position: center center;
	font-size: 0;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle; 
	}

	&.fixed {
		position: fixed;

		+ #wrapper {
			@include position(absolute, $header_height*7 0 0 0, 2);
		}
	}

	h1 {
		margin-bottom: .25em;
	}

	.sign {
		text-align: center;
		width: 100%;
	
		&.left {
			text-align: left;
			padding-right: 50%;
			padding-left: $header_height;
		}
	}
}

#wrapper {
	border-top: $border_width*2 solid rgba($dark_color, .5);
	width: 100%;
}

#intro {
	max-width: $large_screen;
	padding: $header_height;

	p {
		@include columns(2);
		@include column-gap($header_height*2);
	}

	a {
		&:hover {
			background-color: $accent_color;
			color: $light_color;
			outline: 3px solid $accent_color;
		}
	}
}

#content {
	@include position(relative, 0px 0 $footer_height 0);
	background-color: $light_color;
	padding: 0 0 $header_height;
}

#screenshot_modal {
	@include position(fixed, 0px 0px 0px 0px, 999);
	display: none;
	background-color: $light_color;
}

footer {
	@include size(100% $footer_height);
	background-color: lighten($ghosted_color, 15%)	;

	&.fixed {
		@include position(fixed, 0 0 0px 0);
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		height: 100%;
	}

	li {
		@extend %animated;
		background-size: $footer_height/2;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: transparent;
		height: 100%;
	}

	a {
		display: block;
		height: 100%;
	}

	span {
		display: none;
	}

	#git {
		background-image: url("../images/git.svg");

		&:hover {
			background-color: #60B044;
		}
	}

	#dribbble {
		background-image: url("../images/dribbble.svg");

		&:hover {
			background-color: #EA4C89;
		}
	}

	#linkedin {
		background-image: url("../images/linkedin.svg");

		&:hover {
			background-color: #069;
		}
	}
}


@media screen and (min-width: $large_screen) {
	#intro {
		margin: 0 auto;

		p {
			@include columns(1);
			font-size: 1.25em;
			line-height: $ratio;
		}
	}
}

@media screen and (max-width: $tablet_p) {
	#intro {	
		p {
			@include columns(1);
		}
	}
}

@media screen and (max-width: $mobile_l) {
	html, body {
		font-size: $mobile_font_size;
	}

	#name {
		width: 200px !important;

		.smaller {
			display: none;
		}
	}

	nav {
		@include size($header_height $header_height);
		background: url("../images/menu.svg") no-repeat right bottom;

		ul {
			@include transition(all 0.75s $ease-out-quint);
			@include size (auto 9em);
			@include transform(translate3d(0, -9em, 0));
			@include position(absolute, 0px 0px 0 0px);
			font-size: 1rem !important;
			text-align: center;
			-webkit-filter: blur(5px);
			opacity: 0;
		}

		li {
			background-color: rgba($dark_color, .95);
			line-height: 3em;
			float: none;
			width: 100%;

			a {
				color: #fff !important;
			}

			div {
				top: auto;
				bottom: 0;
				background-color: darken($dark_color, 10%);
				height: $border_width;
			}

			&:last-child {
				display: none;
			}
		}
	}

	#marquee {
		height: $header_height*6;
		padding: 0 $line_height/2;

		&.fixed + #wrapper {
			top: $header_height*6;
		}
	}

	#intro {
		padding: $header_height/4;
	}

	.open nav ul {
		@include transform(translate3d(0, $header_height, 0));
		-webkit-filter: blur(0);
		opacity: 1;
	}
}