.Home {
	header{
		span {
			opacity: 0;
		}

		&.active {
			span {
				opacity: 1;
			}
		}
	}

	#marquee {
		background-image: url("../images/bg.jpg");
		background-position: center bottom;
	}

	#work_grid {
		@include clearfix();
		max-width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			position: relative;
			float: left;
			width: 25%;
			background-color: $ghosted_color;
			text-align: center;

			* {
				@extend %animated;
			}

			a {
				@include size(100% 100%);
				@include position(absolute, 0 0 0px 0, 2);
				opacity: 0;
				display: block;
				color: #fff;
				text-decoration: none !important;

				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle; 
				}
			}

			div {
				font-family: $headline_font;
				text-shadow: 0 0 25px $dark_color;
				font-size: 2em;
				line-height: 1em;
				padding: 0 $line_height/2;
				width: 100%;
				display: inline-block;
				vertical-align: middle;
			}

			span {
				@include position(absolute, 0px 0 0 0,-1);
				opacity: 0;
			}

			img,span {
				@include size(100% auto);
				display: block;
			}

			&:hover {
				a, span {
					opacity: 1;
				}

				img {
					-webkit-filter: blur(2px);
				}
			}
		}
	}

	#flowers span {
		background-color: rgba(#572C80, .75);
	}

	#bellmobi span {
		background-color: rgba(#ef4647, .75);
	}

	#giftify span {
		background-color: rgba(#08c882, .75);
	}

	#fnm span {
		background-color: rgba(#E6213D, .75);
	}

	#famous span {
		background-color: rgba(#B90101, .75);
	}

	#bahamar span {
		background-color: rgba(#009BC8, .75);
	}

	#florists span {
		background-color: rgba(#03a784, .75);
	}

	#belterra span {
		background-color: rgba(#a11b1c, .75);
	}

	#bilt span {
		background-color: rgba(#f38c2d, .75);
	}

	#decklab span {
		background-color: rgba(#323740, .75);
	}

	#lauberge span {
		background-color: rgba(#b36531, .75);
	}

	#lumiere span {
		background-color: rgba(#05456f, .75);
	}

	#delmar span {
		background-color: rgba(#CC4C26, .75);
	}

	@media screen and (min-width: $large_screen) {
		#work_grid li {
			width: 20%;
		}
	}

	@media screen and (max-device-width: $tablet_l){
		#work_grid li {
			width: 25%;

			a {
				opacity: 1;
			}

			div {
				@include position(absolute, 0 0 $line_height/2 0);
				font-size: 1.25em;
				line-height: 1.25em;
				display: block;
				text-shadow: 0 1px 1px $dark_color;
			}

			span {
				top: auto;
				bottom: 0;
				height: $line_height*2;
				background-color: rgba($dark_color, .5);
				opacity: 1;
			}
		}
	}

	@media screen and (max-width: $tablet_p) {
		#work_grid li {
			width: 33.3333%;
		}
	}

	@media screen and (max-width: $mobile_l) {
		#marquee {
			.fake_button {
				position: absolute;
				bottom: 20px;
				margin: 0;

				&:first-of-type {
					left: $line_height/2;
				}

				&:last-of-type {
					right: $line_height/2;
				}
			}
		}

		#content {
			padding: 0;
		}

		#work_grid li {
			width: 50%;
		}
	}

	@media screen and (max-width: $mobile_p) {

		#work_grid li {
			width: 100%;
		}
	}
}