/* line 22, ../sass/_variables.scss */
h1, h2, h3, h4, h5, h6, li, p, html, body {
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'liga', 'dlig';
  -moz-font-feature-settings: 'liga', 'dlig';
  font-feature-settings: 'liga', 'dlig';
  text-rendering: optimizeLegibility;
}

/* line 30, ../sass/_variables.scss */
a, button, .fake_button, header, #marquee, footer li, .Home #work_grid li * {
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
}

/* line 34, ../sass/_variables.scss */
h1, h2, h3, h4, h5, h6, li, p, html, body {
  font-family: "museo-sans-rounded", sans-serif;
  font-weight: 500;
  color: #2d3244;
  line-height: 25px;
}

/* line 42, ../sass/_variables.scss */
.larger {
  font-size: 1.25em;
}

/* line 46, ../sass/_variables.scss */
.smaller {
  font-size: .9em;
}

/* line 1, ../sass/_grid.scss */
.row {
  *zoom: 1;
  position: relative;
  margin: 0 25px 1.5rem;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.row:after {
  clear: both;
}
/* line 6, ../sass/_grid.scss */
.row.full_width {
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
/* line 12, ../sass/_grid.scss */
.row:last-child {
  margin-bottom: 0;
}

/* line 17, ../sass/_grid.scss */
.split {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 20, ../sass/_grid.scss */
.split > * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  width: 0;
  margin-right: 25px;
}
/* line 26, ../sass/_grid.scss */
.split > *:last-child {
  margin-right: 0;
}
/* line 31, ../sass/_grid.scss */
.split > .extra_width {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
/* line 35, ../sass/_grid.scss */
.split > .touching {
  margin-right: 0;
}

/* line 40, ../sass/_grid.scss */
.no_margin {
  margin-bottom: 0 !important;
}

/* line 44, ../sass/_grid.scss */
.quarter_margin {
  margin-bottom: .375rem !important;
}

/* line 48, ../sass/_grid.scss */
.half_margin {
  margin-bottom: .75rem !important;
}

/* line 52, ../sass/_grid.scss */
.extra_margin {
  margin-top: 2rem !important;
  margin-bottom: 1.75rem !important;
}

/* line 57, ../sass/_grid.scss */
.centered {
  margin: 0 auto;
}

/* line 2, ../sass/_type.scss */
*::selection {
  background: rgba(8, 200, 130, 0.5);
}
/* line 6, ../sass/_type.scss */
*::-moz-selection {
  background: rgba(8, 200, 130, 0.5);
}

/* line 11, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6, li, p {
  margin-top: 0;
}

/* line 17, ../sass/_type.scss */
h1, h2 {
  color: #2d3244;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1em;
}
/* line 23, ../sass/_type.scss */
h1.light, h2.light {
  color: #f0f0f0;
}

/* line 28, ../sass/_type.scss */
h1 {
  font-family: "din-condensed-web", sans-serif;
  text-transform: uppercase;
}

/* line 33, ../sass/_type.scss */
h2 {
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 700;
}

/* line 39, ../sass/_type.scss */
h3, h4, h5, h6 {
  font-size: 1em;
}

/* line 43, ../sass/_type.scss */
ul {
  margin-top: 0;
  padding-left: 1em;
}

/* line 48, ../sass/_type.scss */
li, p {
  font-size: 1em;
  margin: 0 0 1.5em 0;
}
/* line 52, ../sass/_type.scss */
li:last-child, p:last-child {
  margin-bottom: 0;
}

/* line 57, ../sass/_type.scss */
li {
  margin-bottom: 0;
}

/* line 61, ../sass/_type.scss */
a {
  color: #08c882;
  text-decoration: none;
}
/* line 66, ../sass/_type.scss */
a:hover {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  /* line 80, ../sass/_type.scss */
  h1 {
    font-size: 3.75rem;
  }

  /* line 84, ../sass/_type.scss */
  h2 {
    font-size: 1.25em;
  }
}
/* line 1, ../sass/_forms.scss */
button, .fake_button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: auto;
  height: 50px;
  padding: 0 25px;
  display: block;
  background-color: #08c882;
  border: 2px solid transparent;
  font-size: 16px;
  line-height: 46px;
  color: #f0f0f0;
  text-align: center;
  cursor: pointer;
}
/* line 15, ../sass/_forms.scss */
button:hover, .fake_button:hover {
  background-color: #07af72;
  text-decoration: none;
}

/* line 22, ../sass/_forms.scss */
#marquee .fake_button {
  width: 150px;
  padding: 0;
  display: inline-block;
  color: #2d3244;
  background-color: rgba(240, 240, 240, 0.35);
  border-color: #2d3244;
  margin: 0 25px;
}
/* line 31, ../sass/_forms.scss */
#marquee .fake_button:hover {
  color: #f0f0f0;
  background-color: #08c882;
  border-color: transparent;
}

@media screen and (max-width: 768px) {
  /* line 40, ../sass/_forms.scss */
  button, .fake_button {
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  /* line 47, ../sass/_forms.scss */
  #marquee .fake_button {
    width: 100px;
  }
}
/* line 1, ../sass/_core.scss */
html, body {
  -webkit-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-size: 16px;
  line-height: 25px;
}

/* line 12, ../sass/_core.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../sass/_core.scss */
.clear {
  *zoom: 1;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.clear:before, .clear:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.clear:after {
  clear: both;
}

/* line 20, ../sass/_core.scss */
header {
  *zoom: 1;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 999;
  background-image: -webkit-linear-gradient( rgba(67, 51, 45, 0.5) 0, transparent 100%);
  background-image: linear-gradient( rgba(67, 51, 45, 0.5) 0, transparent 100%);
  background-color: transparent;
  padding: 0 12.5px;
  line-height: 50px;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
header:before, header:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
header:after {
  clear: both;
}
/* line 30, ../sass/_core.scss */
header a {
  color: #f0f0f0;
}
/* line 33, ../sass/_core.scss */
header a:hover {
  color: #08c882 !important;
}
/* line 38, ../sass/_core.scss */
header span {
  color: rgba(240, 240, 240, 0.6);
}
/* line 42, ../sass/_core.scss */
header.active {
  background-image: none;
  background-color: #f0f0f0;
}
/* line 46, ../sass/_core.scss */
header.active a {
  color: #2d3244;
}
/* line 50, ../sass/_core.scss */
header.active span {
  color: #8a8a95;
}
/* line 55, ../sass/_core.scss */
header #name {
  float: left;
  width: 300px;
}

/* line 61, ../sass/_core.scss */
nav {
  float: right;
}
/* line 64, ../sass/_core.scss */
nav ul {
  *zoom: 1;
  height: 48px;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
nav ul:before, nav ul:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
nav ul:after {
  clear: both;
}
/* line 72, ../sass/_core.scss */
nav li {
  position: relative;
  float: left;
  line-height: 50px;
}
/* line 77, ../sass/_core.scss */
nav li div {
  position: absolute;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 4px;
  background-color: transparent;
}
/* line 84, ../sass/_core.scss */
nav li:hover div {
  background-color: #08c882;
}
/* line 90, ../sass/_core.scss */
nav a {
  display: block;
  padding: 0 12.5px;
}

/* line 96, ../sass/_core.scss */
#marquee {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center center;
  font-size: 0;
}
/* line 105, ../sass/_core.scss */
#marquee:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 112, ../sass/_core.scss */
#marquee.fixed {
  position: fixed;
}
/* line 115, ../sass/_core.scss */
#marquee.fixed + #wrapper {
  position: absolute;
  top: 350px;
  z-index: 2;
}
/* line 120, ../sass/_core.scss */
#marquee h1 {
  margin-bottom: .25em;
}
/* line 124, ../sass/_core.scss */
#marquee .sign {
  text-align: center;
  width: 100%;
}
/* line 128, ../sass/_core.scss */
#marquee .sign.left {
  text-align: left;
  padding-right: 50%;
  padding-left: 50px;
}

/* line 136, ../sass/_core.scss */
#wrapper {
  border-top: 4px solid rgba(45, 50, 68, 0.5);
  width: 100%;
}

/* line 141, ../sass/_core.scss */
#intro {
  max-width: 1200px;
  padding: 50px;
}
/* line 145, ../sass/_core.scss */
#intro p {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 100px;
  -moz-column-gap: 100px;
  column-gap: 100px;
}
/* line 151, ../sass/_core.scss */
#intro a:hover {
  background-color: #08c882;
  color: #f0f0f0;
  outline: 3px solid #08c882;
}

/* line 159, ../sass/_core.scss */
#content {
  position: relative;
  top: 0px;
  bottom: 100px;
  background-color: #f0f0f0;
  padding: 0 0 50px;
}

/* line 165, ../sass/_core.scss */
#screenshot_modal {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  display: none;
  background-color: #f0f0f0;
}

/* line 171, ../sass/_core.scss */
footer {
  width: 100%;
  height: 100px;
  background-color: #b2b2b9;
}
/* line 175, ../sass/_core.scss */
footer.fixed {
  position: fixed;
  bottom: 0px;
}
/* line 179, ../sass/_core.scss */
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
/* line 186, ../sass/_core.scss */
footer li {
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  height: 100%;
}
/* line 195, ../sass/_core.scss */
footer a {
  display: block;
  height: 100%;
}
/* line 200, ../sass/_core.scss */
footer span {
  display: none;
}
/* line 204, ../sass/_core.scss */
footer #git {
  background-image: url("../images/git.svg");
}
/* line 207, ../sass/_core.scss */
footer #git:hover {
  background-color: #60B044;
}
/* line 212, ../sass/_core.scss */
footer #dribbble {
  background-image: url("../images/dribbble.svg");
}
/* line 215, ../sass/_core.scss */
footer #dribbble:hover {
  background-color: #EA4C89;
}
/* line 220, ../sass/_core.scss */
footer #linkedin {
  background-image: url("../images/linkedin.svg");
}
/* line 223, ../sass/_core.scss */
footer #linkedin:hover {
  background-color: #069;
}

@media screen and (min-width: 1200px) {
  /* line 231, ../sass/_core.scss */
  #intro {
    margin: 0 auto;
  }
  /* line 234, ../sass/_core.scss */
  #intro p {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    font-size: 1.25em;
    line-height: 1.6;
  }
}
@media screen and (max-width: 768px) {
  /* line 244, ../sass/_core.scss */
  #intro p {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
}
@media screen and (max-width: 568px) {
  /* line 251, ../sass/_core.scss */
  html, body {
    font-size: 14px;
  }

  /* line 255, ../sass/_core.scss */
  #name {
    width: 200px !important;
  }
  /* line 258, ../sass/_core.scss */
  #name .smaller {
    display: none;
  }

  /* line 263, ../sass/_core.scss */
  nav {
    width: 50px;
    height: 50px;
    background: url("../images/menu.svg") no-repeat right bottom;
  }
  /* line 267, ../sass/_core.scss */
  nav ul {
    -webkit-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    width: auto;
    height: 9em;
    -webkit-transform: translate3d(0, -9em, 0);
    -moz-transform: translate3d(0, -9em, 0);
    -ms-transform: translate3d(0, -9em, 0);
    -o-transform: translate3d(0, -9em, 0);
    transform: translate3d(0, -9em, 0);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    font-size: 1rem !important;
    text-align: center;
    -webkit-filter: blur(5px);
    opacity: 0;
  }
  /* line 278, ../sass/_core.scss */
  nav li {
    background-color: rgba(45, 50, 68, 0.95);
    line-height: 3em;
    float: none;
    width: 100%;
  }
  /* line 284, ../sass/_core.scss */
  nav li a {
    color: #fff !important;
  }
  /* line 288, ../sass/_core.scss */
  nav li div {
    top: auto;
    bottom: 0;
    background-color: #191b25;
    height: 2px;
  }
  /* line 295, ../sass/_core.scss */
  nav li:last-child {
    display: none;
  }

  /* line 301, ../sass/_core.scss */
  #marquee {
    height: 300px;
    padding: 0 12.5px;
  }
  /* line 305, ../sass/_core.scss */
  #marquee.fixed + #wrapper {
    top: 300px;
  }

  /* line 310, ../sass/_core.scss */
  #intro {
    padding: 12.5px;
  }

  /* line 314, ../sass/_core.scss */
  .open nav ul {
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    -webkit-filter: blur(0);
    opacity: 1;
  }
}
/* line 1, ../sass/_slider.scss */
.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 6, ../sass/_slider.scss */
.slider.prev {
  cursor: url("../images/prev.png") 15 15, e-resize;
  cursor: url("../images/prev.svg") 15 15, e-resize;
}
/* line 11, ../sass/_slider.scss */
.slider.next {
  cursor: url("../images/next.png") 15 15, w-resize;
  cursor: url("../images/next.svg") 15 15, w-resize;
}
/* line 16, ../sass/_slider.scss */
.slider.close {
  cursor: url("../images/close.png") 15 15, pointer;
  cursor: url("../images/close.svg") 15 15, pointer;
}

/* line 22, ../sass/_slider.scss */
.slides {
  -webkit-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

/* line 32, ../sass/_slider.scss */
.slide {
  width: 100%;
  height: 100%;
  float: left;
  clear: none;
}

/* line 38, ../sass/_slider.scss */
.slider-nav {
  position: absolute;
  bottom: 25px;
  z-index: 2;
}

/* line 42, ../sass/_slider.scss */
.slider-nav__item {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #2d3244;
  opacity: .33;
}
/* line 53, ../sass/_slider.scss */
.slider-nav__item:hover {
  opacity: .5;
}

/* line 58, ../sass/_slider.scss */
.slider-nav__item--current {
  opacity: .75;
}

/* line 3, ../sass/_home.scss */
.Home header span {
  opacity: 0;
}
/* line 8, ../sass/_home.scss */
.Home header.active span {
  opacity: 1;
}
/* line 14, ../sass/_home.scss */
.Home #marquee {
  background-image: url("../images/bg.jpg");
  background-position: center bottom;
}
/* line 19, ../sass/_home.scss */
.Home #work_grid {
  *zoom: 1;
  max-width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.Home #work_grid:before, .Home #work_grid:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.Home #work_grid:after {
  clear: both;
}
/* line 26, ../sass/_home.scss */
.Home #work_grid li {
  position: relative;
  float: left;
  width: 25%;
  background-color: #8a8a95;
  text-align: center;
}
/* line 37, ../sass/_home.scss */
.Home #work_grid li a {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  opacity: 0;
  display: block;
  color: #fff;
  text-decoration: none !important;
}
/* line 45, ../sass/_home.scss */
.Home #work_grid li a:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 53, ../sass/_home.scss */
.Home #work_grid li div {
  font-family: "din-condensed-web", sans-serif;
  text-shadow: 0 0 25px #2d3244;
  font-size: 2em;
  line-height: 1em;
  padding: 0 12.5px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 64, ../sass/_home.scss */
.Home #work_grid li span {
  position: absolute;
  top: 0px;
  z-index: -1;
  opacity: 0;
}
/* line 69, ../sass/_home.scss */
.Home #work_grid li img, .Home #work_grid li span {
  width: 100%;
  height: auto;
  display: block;
}
/* line 75, ../sass/_home.scss */
.Home #work_grid li:hover a, .Home #work_grid li:hover span {
  opacity: 1;
}
/* line 79, ../sass/_home.scss */
.Home #work_grid li:hover img {
  -webkit-filter: blur(2px);
}
/* line 86, ../sass/_home.scss */
.Home #flowers span {
  background-color: rgba(87, 44, 128, 0.75);
}
/* line 90, ../sass/_home.scss */
.Home #bellmobi span {
  background-color: rgba(239, 70, 71, 0.75);
}
/* line 94, ../sass/_home.scss */
.Home #giftify span {
  background-color: rgba(8, 200, 130, 0.75);
}
/* line 98, ../sass/_home.scss */
.Home #fnm span {
  background-color: rgba(230, 33, 61, 0.75);
}
/* line 102, ../sass/_home.scss */
.Home #famous span {
  background-color: rgba(185, 1, 1, 0.75);
}
/* line 106, ../sass/_home.scss */
.Home #bahamar span {
  background-color: rgba(0, 155, 200, 0.75);
}
/* line 110, ../sass/_home.scss */
.Home #florists span {
  background-color: rgba(3, 167, 132, 0.75);
}
/* line 114, ../sass/_home.scss */
.Home #belterra span {
  background-color: rgba(161, 27, 28, 0.75);
}
/* line 118, ../sass/_home.scss */
.Home #bilt span {
  background-color: rgba(243, 140, 45, 0.75);
}
/* line 122, ../sass/_home.scss */
.Home #decklab span {
  background-color: rgba(50, 55, 64, 0.75);
}
/* line 126, ../sass/_home.scss */
.Home #lauberge span {
  background-color: rgba(179, 101, 49, 0.75);
}
/* line 130, ../sass/_home.scss */
.Home #lumiere span {
  background-color: rgba(5, 69, 111, 0.75);
}
/* line 134, ../sass/_home.scss */
.Home #delmar span {
  background-color: rgba(204, 76, 38, 0.75);
}
@media screen and (min-width: 1200px) {
  /* line 139, ../sass/_home.scss */
  .Home #work_grid li {
    width: 20%;
  }
}
@media screen and (max-device-width: 1024px) {
  /* line 145, ../sass/_home.scss */
  .Home #work_grid li {
    width: 25%;
  }
  /* line 148, ../sass/_home.scss */
  .Home #work_grid li a {
    opacity: 1;
  }
  /* line 152, ../sass/_home.scss */
  .Home #work_grid li div {
    position: absolute;
    bottom: 12.5px;
    font-size: 1.25em;
    line-height: 1.25em;
    display: block;
    text-shadow: 0 1px 1px #2d3244;
  }
  /* line 160, ../sass/_home.scss */
  .Home #work_grid li span {
    top: auto;
    bottom: 0;
    height: 50px;
    background-color: rgba(45, 50, 68, 0.5);
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  /* line 171, ../sass/_home.scss */
  .Home #work_grid li {
    width: 33.3333%;
  }
}
@media screen and (max-width: 568px) {
  /* line 178, ../sass/_home.scss */
  .Home #marquee .fake_button {
    position: absolute;
    bottom: 20px;
    margin: 0;
  }
  /* line 183, ../sass/_home.scss */
  .Home #marquee .fake_button:first-of-type {
    left: 12.5px;
  }
  /* line 187, ../sass/_home.scss */
  .Home #marquee .fake_button:last-of-type {
    right: 12.5px;
  }
  /* line 193, ../sass/_home.scss */
  .Home #content {
    padding: 0;
  }
  /* line 197, ../sass/_home.scss */
  .Home #work_grid li {
    width: 50%;
  }
}
@media screen and (max-width: 360px) {
  /* line 204, ../sass/_home.scss */
  .Home #work_grid li {
    width: 100%;
  }
}

/* line 2, ../sass/_work.scss */
.WorkPage #marquee {
  background-image: url("../images/above.jpg");
  background-position: right top;
}
/* line 6, ../sass/_work.scss */
.WorkPage #marquee h1, .WorkPage #marquee h2 {
  color: #f0f0f0;
}
/* line 12, ../sass/_work.scss */
.WorkPage #intro h1, .WorkPage #intro h2 {
  display: none;
}
@media screen and (min-width: 1200px) {
  /* line 18, ../sass/_work.scss */
  .WorkPage #marquee {
    height: 500px;
  }
  /* line 21, ../sass/_work.scss */
  .WorkPage #marquee.fixed + #wrapper {
    top: 500px;
  }
}
@media screen and (max-width: 768px) {
  /* line 29, ../sass/_work.scss */
  .WorkPage #marquee h1, .WorkPage #marquee h2 {
    display: none;
  }
  /* line 35, ../sass/_work.scss */
  .WorkPage #intro h1 {
    margin-bottom: .25em;
  }
  /* line 38, ../sass/_work.scss */
  .WorkPage #intro h1, .WorkPage #intro h2 {
    display: block;
  }
}
@media screen and (max-width: 568px) {
  /* line 45, ../sass/_work.scss */
  .WorkPage #marquee {
    background-position-y: 50px;
  }
}
